
@{
    ViewBag.Title = "Random";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Random</h2>
<!--Inline Expression Statement--->
@*<p>Today Date and Time : @DateTime.Now</p>

    <p>This Year is : @DateTime.Now.Year</p>*@

<!--Declaring Multiline comment-->
@*@{string name = "Good Morning";
        var TodayTime = DateTime.Now.ToLongTimeString();
        }
    <h2>Hello, @name</h2>
    <h2>Today Time is : @TodayTime</h2>*@

<!--con dition statement-->
@{
    int mark = 80;
    if (mark >= 80)
    {
        <h2>Your Mark is A1</h2>
    }
    else
    {
        <h2>Your Mark is A</h2>
    }
}

<!--Switch case-->
@*@{
    string fruit = "Mango";
    switch (fruit)
    {
        case "banana":
        <h2>You have selected banana</h2>
            break;

        case "apple":
        <h2>You have selected apple</h2>
            break;

        case "Mango":
            <h2>You have selected Mango</h2>
            break;

        default:
              <h2>you have not selected anything</h2>
            break;
    }

    }*@

@*@{ 
    for(int i = 1; i < 10; i++)
            {
                <h2>@i</h2>
            }*@



}
@{
    string[] Games = { "Cricket", "BasketBall", "Hockey", "FootBall" };
    foreach(string item in Games)
    {
                <h2>@item</h2>                 
            }

}